<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width height=device-height initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <title>App</title>

  <access origin="api.yourservice.tld" subdomains="false"></access>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <link rel="stylesheet" href="index.css" />
  <script src="js/app.js"></script>

</head>

<body ng-app="app" ng-controller="AppCtrl">
  <div class='jumbotron'>
    <h4> {{app}} </h4>
    <table class='table'>
      <tr>
        <th> Total </th>
        <th> Poupanca (10%) </th>
      <tr>
      <tr>
        <td> {{total}} </td>
        <td> {{poupanca}} </td>
      </tr>
    </table>
    <hr />
    <input class='form-control' type='text' ng-model='compra.pao' placeholder="Quantidade de pães vendidos" />
    <input class='form-control' type='text' ng-model='compra.broa'
      placeholder="Quantidade de broas vendidas" />
    <button class='btn btn-primary btn block' ng-click='calcular(compra)'> Executar </button>
  </div>
</body>

</html>